<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>506277967683-9rmr5rf363bes0s0f5ipg2cebtfo3ldb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.506277967683-9rmr5rf363bes0s0f5ipg2cebtfo3ldb</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>506277967683-ca8afgjgtsks29d8rmdvu0oci1vvf7pl.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD4sC9ujK6p_1o8m1DjlS76gvq6Z-1iJZ8</string>
	<key>GCM_SENDER_ID</key>
	<string>506277967683</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rabiloo.rnconfigbase</string>
	<key>PROJECT_ID</key>
	<string>rn-base-f142e</string>
	<key>STORAGE_BUCKET</key>
	<string>rn-base-f142e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:506277967683:ios:2109c8bc6ee34939c361f6</string>
	<key>DATABASE_URL</key>
	<string>https://rn-base-f142e.firebaseio.com</string>
</dict>
</plist>